body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

  .about-section {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: white;
  }
  

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
  
  .title {
    color: grey;
  }
  
  
  .card:hover {
    background-color: #e03f3f;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }